
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #e56b9c;
    font-family: Arial, sans-serif;
    padding: 30px;
}
.hero-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 40px;
    padding: 28px;
    position: relative;
}
/* Верхняя панель */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.logo-circle {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.18);
}
.logo-circle img {
    width: 70%;
    height: 70%;
    object-fit: contain;
}
.menu {
    display: flex;
    gap: 14px;
    background: transparent;
    border-radius: 999px;
    padding: 10px 14px;
}
.menu a {
    text-decoration: none;
    color: #ffffff;
    background: #ef74a9;
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 999px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.18);
}
.menu a.active {
    background: #ef74a9;
    color: white;
}
.menu a:hover {
    background: #f4c1d5;
    color: #6e5d66;
    transform: translateY(-3px);
     box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.phone-box {
    background: white;
    border-radius: 30px;
    padding: 16px 26px;
    text-align: right;
    box-shadow: 0 4px 10px rgba(0, 0, 0,0.18);
}
.phone-number {
    font-size: 20px;
    color: #8a7d84;
    font-weight: 600;
}
.phone-text {
    font-size: 14px;
    color: #b8aab2;
    margin-top: 4px;
}
/* Главный блок */
.hero-content {
    position: relative;
}
.hero-image {
    position: relative;
    width: 100%;
    height: 500px;
    border-radius: 38px;
    overflow: hidden;
}
.page-jiwopis .hero-image{
    position: relative;
    width: 100%;
    height: 350px;
    border-radius: 38px;
    overflow: hidden;
}
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero-text {
    position: absolute;
    right: 70px;
    bottom: 70px;
    text-align: right;
    color: white;
}
.subtitle {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 300;
}
.hero-text h1 {
    font-size: 92px;
    letter-spacing: 6px;
    line-height: 1;
}
/* Белый блок слева внизу */
.info-card {
    position: absolute;
    left: 0;
    bottom: -60px;
    width: 340px;
    background: white;
    border-radius: 34px;
    padding: 32px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.18);
}
.info-card h2 {
    color: #ef74a9;
    font-size: 42px;
    line-height: 1;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.info-card p {
    color: #4b4448;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 24px;
}
.info-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 24px;
    margin-bottom: 20px;
}
/* Сетка карточек */
.cards {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;   
}
.page-jiwopis .cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px;   
}
.page-jiwopis .painting-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 40px;
    flex-wrap: wrap; 
}

.page-jiwopis .button {
   text-decoration: none;
    color: #ffffff;
    background: #ef74a9;
    font-size: 15px;
    padding: 10px 22px;
    border-radius: 999px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0,0,0,0.18);
}

/* эффект как сверху */
.page-jiwopis .button:hover {
    transform: scale(1.1);
    background: #ff66b3
}
/* Карточка */
.card {
    background: #f5f5f5;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    height: 450px;
    transition: all 0.3s ease;
}
.card:hover{
     transform: translateY(-10px);
     box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
/* Картинки */
.card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
}
.card h3{
    margin-top: 20px;
}
.card p{
    margin-top: 5px;
}
.page-jiwopis .card {
    background: #f5f5f5;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    height: 450px;
    transition: all 0.3s ease;
}
.page-jiwopis .card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 15px;
}
/* Кнопка */
.button{
    margin-top: 17px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(90deg, #000000, #333333);
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}
.button:hover {
    opacity: 0.8;
    filter: brightness(1.2);
    transform: scale(1.05);
}
/* ===== Footer ===== */
.footer {
    margin-top: 15px;
    background: transparent;
    border-radius: 30px;
    padding: 40px 50px 20px 50px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.footer h3 {
    color: #ffffff;
    margin-bottom: 16px;
    font-size: 20px;
    text-transform: uppercase;
}
.footer p {
    color: #ffd3e6;
    margin-bottom: 10px;
    font-size: 15px;
}
.footer a {
    display: block;
    text-decoration: none;
    color: #ffd3e6;
    margin-bottom: 8px;
    transition: 0.3s;
}
.footer a:hover {
    color: #ffffff;
}
.footer-small {
    font-size: 13px;
    color: #b8aab2;
    margin-top: 10px;
}
html{
    scroll-behavior: smooth;
}
/* соцсети */
.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.socials img {
    width: 30px;
    height: 30px;
    transition: all 0.3s ease;
    opacity: 0.8;
}
/* эффект при наведении */
.socials img:hover {
    transform: translateY(-5px) scale(1.1);
    opacity: 1;
}
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* затемнение */
    justify-content: center;
    align-items: center;
}
.lightbox-content {
    max-width: 80%;
    max-height: 80%;
}
.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.page-title {
    font-size: 50px;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 40px;
    color: #ca5487;
    display: block;
}
